*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: wheat;
    background-size: cover;
    background-position: center center;
}

h1{
    font-size: 80px;
    text-align: center;
    color: coral;
}

.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    top: 30%;
    left: 30%; 
    padding: 30px 40px;
    border-radius: 8px;
    border: 1px solid black;
}

.new_task{
    position: relative;
    padding: 30px 20px;
    background-color: black;
    border-radius: 5px;
}

 #input{
    position: relative;
    border-radius: 5px;
    background: black;
    height: 45px;
    width: 70%;
    padding: 12px;
    border: 1px solid white;
    color: white;
    font-family: 'Nunito';
    font-size: 15px; 
}

 #button{
    position: relative;
    float: right;
    height: 45px;
    width: 20%;
    border-radius: 20px;
    background-color: wheat;
    font-size: 20px;
    font-family: 'Nunito';
    transition: all 0.3s ease;
}

#button:hover{
    background-color: coral;
    color: black;
}

/* new task styling */

 #tasks{
    margin-top: 30px;
    list-style: none;
 }   

.todo{
    margin: 0.5rem;
    height: 45px;
    background: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px; 
    transition: all 0.3s ease;
}

.todo li {
   position: static;
    flex: 1;
}

 .complete-btn, .delete-btn{
    padding: 1rem;
    display: flex;
 }

 .completed-btn:hover{
    color: lightgreen;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
 } 
 
 .delete-btn:hover{
    color: coral;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
 }
 
 .completed li{
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.2s ease;
 }